body {font: 75%/1.3 verdana,geneva,arial,sans-serif;}

#container {width: 1040px; margin: 0px auto;}

header, main, nav, aside, footer {display: block;}

.clear {clear: both;}

header nav {background-color: #f5b042; margin-top: 20px;}

footer nav {background-color: #f5b042;}

nav {padding: 10px 20px; overflow: auto; margin-bottom: 20px;}

nav ul {list-style: none; margin: 0px; padding: 0px;}

nav li {line-height: 29px; float: left; margin-right: 30px;}

#tickets {float: right;}

a:active, a:link, a:visited {color: #000;}

a:hover, a:focus {text-decoration: none;}

nav img:hover, nav img:focus {outline: 2px solid #000;}

.current a:active, .current a:link, .current a:visited {font-weight: bold; color: #000; text-decoration: none; margin-right: 0px;}

#content {padding: 30px 20px; overflow: auto;}

main, aside {float: left;}

main {width: 720px;}

aside {width: 218px;}

input:focus {outline: 1px solid #000;}

form {padding-bottom: 1em;}

.submit:focus, .submit:hover {outline: 2px solid #02008F;}

.bottom {margin-top: 30px;}

.text {width: 422px; float: left;}

.bottom .text {padding-top: 10px;}

main img {float: right;}

h1, h2 {margin-top: 0px;}

h1 {font: bold 180%/1.3 georgia,serif; color: #000;}

h2 {font: bold 100%/1.3 verdana,geneva,arial,sans-serif;}

aside h2 {font: bold 140%/1.3 georgia,serif; text-align: center; margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #7DA7D9;}

input {font-size: 100%;}

header, header a, footer a {color: #000;}

header img {display: block;}

p {margin: 0px;}